@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$bgColor: #EE6C4D;
$mainColor: #3b485e;
$secondaryColor: #293241;
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bgColor;

    main {
        margin: 0 auto;
        width: 70vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Lato', sans-serif;

        h1 {
            margin-bottom: 15px;
            font-size: 2.5rem;
            color: $secondaryColor;
        }
    
    
        #joke-display {
            padding: 50px;
            border-radius: 10px;
            width: 70vw;
            height: 38vh;
            margin: 15px 0;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            background-color: $white;
            color: $mainColor;
        }
    
        #joke-button {
            width: 150px;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 1.1rem;
            margin-top: 10px;
            cursor: pointer;
            background-color: $mainColor;
            color: $white;
        }
    }
}

@media (max-width: 480px) {
    body main {
        margin-top: 10%;
        height: 100%;

        #joke-display {
            padding: 15px;
            height: fit-content;
        } 
    }  
}